body{
  background-image: url(https://i.pinimg.com/originals/2f/f4/7f/2ff47f3e92cc784e5dd607978b92f700.jpg);
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-position-y: 200px;
}

/*caracteristicas do header*/
div#root {
  display: inline-block;
  font-family: 'Lexend Zetta', sans-serif;
  font-size: 35px;
  position:relative;
  top: auto;
  bottom: auto;
  right: 10%;
  left: 17%;

}

div#subtitle {
  display: inline-block;
  font-family: 'Lexend Zetta', sans-serif;
  font-size: 10px;
  position:absolute;
  top: 3%;
  bottom: auto;
  right: 12%;
  left: 17.5%;
}


/*caracteristicas do formulário de Codificar*/
form#Cod{
  display: inline-block;
  text-align: center;
  font-size: 25px;
  font-family: 'Patrick Hand', cursive;
  position: absolute;
  top: 180px;
  bottom: 0px;
  right: 900px;
  left: 0px;
}

input#offsetcd{
  width: 40px;
  border-style: solid;
  border-color: #0458CA;
}

input#MessageC{
  width: 100px;
  height: 50px;
  border-style: solid;
  border-color: #1575F7;
  margin: 20px;
  padding-right: 200px;
  text-align: justify;
}


/*caracteristicas do formulário de Decodificar*/
form#Decod{
  display: inline-block;
  text-align: center;
  font-size: 25px;
  font-family: 'Patrick Hand', cursive;
  position: absolute;
  top: 180px;
  bottom: 350px;
  right: 0px;
  left: 900px;
  float: right;

}

input#offsetdc{
  width: 40px;
  border-style: solid;
  border-color: #0458CA;
}

input#MessageD{
  width: 100px;
  height: 50px;
  border-style: solid;
  border-color: #1575F7;
  margin: 20px;
  padding-right: 200px;
}
